body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.item_description{
  color: gray;
  font-weight: bold;
}

.item_row span {
  display: table-cell;
  padding: 10px 20px;
  border-bottom: 2px dashed #d2c6c699;
  font-size: 15px;
}

.item_row:last-child span {
  border-bottom: none;
}

.item_row{
  display: table-row;
}

#item_table{
  display: table;
  padding: 0px 15px;
}

#basket_controls{
  background-color: #ececec;
  border: 1px solid #d5cdcd;
  padding: 25px 20px;
}

#basket{
  display: inline-block;
  border: 1px solid #d5cdcd;
  margin: 35px;
}

.item_quantity input::-webkit-outer-spin-button,
.item_quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item_quantity input[type=number] {
    -moz-appearance:textfield;
}

.item_quantity input{
  width: 25px;
  line-height: 25px;
}

.item_cost{
  font-weight: bold;
  color: #e66f48;
}

#checkout_button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


.btn{
  color: black;
  background-color: inherit;
  padding: 8px 20px;
  border-color: #c0c0c0;
  border-radius: 3px;
  margin-left: 15px;
}

#total_amount{
  font-size: 30px;
  font-weight: bold;
  color: #292727;
}

#basket_controls button{
  float: right;
}

.item_remove span{
  border: none;
  font-weight: bold;
  color: gray;
  padding: 5px;
}

.item_remove span:hover{
  background-color: #ececec;
  cursor: pointer;
}
